Is there any plan to support FFDHE (RFC7919)?

Current libtomcrypt supports Diffie-Hellman key exchange ([RFC7296](https://datatracker.ietf.org/doc/html/rfc7296)/[RFC3526](https://datatracker.ietf.org/doc/html/rfc3526)), is there any plan to support FFDHE ([RFC7919](https://datatracker.ietf.org/doc/html/rfc7919))?

FMU the only difference from our implementation to FFDHE are the pre-defined groups. The algorithm is still the same.

There exists [`dh_set_pg_dhparam()`](https://github.com/libtom/libtomcrypt/commits/develop/src/pk/dh/dh_set_pg_dhparam.c) which allows you to set the group manually. A quick search on the internet returned pre-existing dhparam files for FFDHE2048/3072/4096. If you need them for the other two groups you'd have to create them yourself.

Otherwise you could also extend [`ltc_dh_sets[]`](https://github.com/libtom/libtomcrypt/blob/develop/src/pk/dh/dh.c#L9) by those new groups.

Feel free to re-open if this didn't solve your problem.

I've tried FFDHE groups with existing libtomcrypt and it works as expected.
Thank you very much.