Poroposal - adding base64 URL Safe variant encode/decode function

I would like to propose adding 2 new functions:
- base64url_encode
- base64url_decode

which are base64 URL Safe (RFC 4648 section 5) variants of Base64 - see http://tools.ietf.org/html/rfc4648#section-5

Something like this:
https://github.com/DCIT/perl-CryptX/blob/master/src/ltc/misc/base64/base64_decode.c
https://github.com/DCIT/perl-CryptX/blob/master/src/ltc/misc/base64/base64_encode.c
